* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  color: #fefefe;
  min-height: 100vh;
  background-color: #21212d;
}

a {
  color: #4ac3e3;
}

textarea,
input {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  padding: 4px;
}

#app {
  min-height: 100vh;
}

.auth-card {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(318px, 1fr));
  width: 100%;
  max-width: 640px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.auth-card__title {
  margin-bottom: 24px;
}

.auth-card__left {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.auth-card__right {
  flex: 1;
  padding: 20px;
}

#register-form label,
#login-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
}

#register-form input,
#login-form input {
  margin-bottom: 12px;
  width: 100%;
  background-color: #f2f3f4;
  border: none;
}

#register-form input:focus,
#login-form input:focus {
  outline: 4px solid #645fc6;
}

.button {
  font: inherit;
  padding: 8px 16px;
  border: none;
  color: #fefefe;
  cursor: pointer;
}

.button--submit {
  background-color: #645fc6;
  width: 100%;
  display: block;
  margin-top: 12px;

  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;

  border: none;
  border-radius: 8px;
}

.button--submit:hover {
  background-color: #433ead;
}

.button--logout {
  background-color: #525868;
  border-radius: 4px;
}

.button--logout:hover {
  background-color: #424653;
}

.button--add-post {
  background-color: #645fc6;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.1rem;
}

.button--add-post:hover {
  background-color: #433ead;
}

.btn-container {
  text-align: center;
  padding: 24px 0px;
}

.home {
  min-height: 100vh;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}
